
.carousel-inner {
    position: relative;
    width: 74%;
    overflow: hidden;
    margin: 0 13%;
}
p .glyphicon{
	margin-right:5px;
}
.jumbotron {
    margin-bottom: 0px!important;
	padding-bottom: 0px!important;
}
.spider_img_mview{
	display:none;
}
.navbar-nav .dropdown-menu > li > a {
    color:#CD0606 !important;
}
.navbar-nav .dropdown-menu > li > a:hover,.navbar-nav .dropdown-menu > li.active > a {
    color:#808080 !important;
}
.service_m{
	display:none !important;
}
.pimgpsh_fullsize,.pimgpsh_768,.pimgpsh_480{
	width:100%;
	height:280px;
}

/*============================================================
	For Small Desktop
==============================================================*/

@media (min-width: 980px) and (max-width: 1150px) {


}


/*============================================================
	Tablet (Portrait) Design for a width of 768px
==============================================================*/

@media (min-width: 768px) and (max-width: 979px) {
	.navbar-header{
		float: none;
		width: 70%;
		margin: 10px auto !important;
	}
	.nav.navbar-nav.navbar-right {
		width: 84%;
		margin: 0px 8%;
		display: block;
		float: none!important;
	}
}


/*============================================================
	Mobile (Portrait) Design for a width of 320px
==============================================================*/

@media only screen and (max-width: 767px) {
	.col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
	.navbar-header a img{
		float: left;
		width: 80%;
		padding: 7px;
	}
	.dropdown:hover .dropdown-menu {
		display: none !important;
	}
	.spider_img_dview{
		display:none;
	}
	.spider_img_mview{
		display:block;
	}
	.certified .col-sm-2{
		padding:20px 0;
	}
	.service_d{
		display:none !important;
	}
	.service_m{
		display:block !important;
	}
	.col-sm-3 {
		text-align: center;
		margin: 25px 0;
	}
	#services .row .col-sm-4:first-child{
		margin-top:0;
	}
	/*.carousel-control.left  {
		left: -40px;
	}
	.carousel-control.right  {
		right: -40px;
	}*/
	.pimgpsh_fullsize{
		display:none;
	}
	.pimgpsh_768{
		display:block;
	}
	.pimgpsh_480{
		display:none;
	}

}


/*============================================================
	Mobile (Landscape) Design for a width of 480px
==============================================================*/

@media only screen and (max-width: 480px) {
	.logo {
        font-size: 150px;
    }
	.navbar-header a img {
		float: left;
		width: 75%;
		padding: 15px 5px;
	}
	.pimgpsh_fullsize{
		display:none;
	}
	.pimgpsh_768{
		display:none;
	}
	.pimgpsh_480{
		display:block;
	}
}

/*============================================================
	Desktop only above 768
==============================================================*/

@media only screen and (min-width: 768px) {
	.navbar-header {
		width: 40%;
	}
	.pimgpsh_fullsize{
		display:block;
	}
	.pimgpsh_768{
		display:none;
	}
	.pimgpsh_480{
		display:none;
	}
}